div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 160px;                  
    padding: 2px;       
    font: 14px sans-serif;    
    background: rgb(238, 238, 238); 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;   
}

.foreground path {
    fill: none;
    /* stroke: rgb(194, 194, 194); */
    stroke-width: 3px;
  }

.brush .selection {
    fill-opacity: .3;
    stroke: rgb(44, 44, 44);
    shape-rendering: crispEdges;
}